<header>
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    KF
                </a>

                <div class="d-flex ms-auto align-items-stretch">
                    <a class="btn navbar-btn d-flex align-items-center px-4" href="/" role="button">Home</a>
                    <a class="btn navbar-btn d-flex align-items-center px-4 ms-2" href="/about" role="button">About</a>
                    <!--<a class="btn navbar-btn d-flex align-items-center px-4 ms-2" href="/gallery" role="button">Gallery</a>-->
                </div>
            </div>
        </nav>
</header>