<!DOCTYPE html>
<html>
    <%- include('includes/head', {title: artName}) %>
    <body>
        <%- include('includes/header') %>

        


        <%- include('includes/footer') %>
        <%- include('includes/closing-scripts') %>
    </body>

</html>