<!DOCTYPE html>
<html>
    <%- include('includes/head', {title: artName}) %>
    <body>
        <div class="wrapper">
            <%- include('includes/header') %>
            <main class="conatainer">



            </main>
            <%- include('includes/footer') %>

        </div>
    
        <%- include('includes/closing-scripts') %>
    </body>
</html>