
.section-title-box{
    text-align: left;
    margin-bottom: 5rem;
    
}

.section-title {
    display: inline-block;
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 2rem 4rem; /* add spacing around text */
  background: linear-gradient(90deg,  rgba(145, 116, 255, 0.9), rgba(78, 58, 255, .7));
    border-radius: 1rem;
}