
/* Purple color palette */
:root {
  --bs-purple-100: #e3dcf0;
  --bs-purple-200: #d6b8ff;
  --bs-purple-300: #c29ffa;
  --bs-purple-400: #a678e1;
  --bs-purple-500: #5b10b1;
  --bs-purple-600: #4e0e99;
  --bs-purple-700: #3f0b7a;
  --bs-purple-800: #2f085c;
  --bs-purple-900: #1f053d;
}

/* purple text and background classes */
.text-purple-100 {
  color: var(--bs-purple-100);
}
.text-purple-500 {
  color: var(--bs-purple);
}


.bg-purple-200 {
  background-color: var(--bs-purple-200);
}
.bg-purple-500 {
  background-color: var(--bs-purple);
}

/* Gray text and background classes */
.text-gray-100 {
  color: var(--bs-gray-100);
}

.bg-gray-100 {
  background-color: var(--bs-gray-100);
}


/* Custom styles for components */
/*******************************************************************/
body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #000;
  color: var(--bs-gray-100);
  overflow-x: hidden;
}

#katie-image {
  width: 30rem;
  height: auto;
  border: 8px solid var(--bs-purple);
}

#katie-image:hover {
  border: 8px solid var(--bs-purple-400);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(111, 0, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(0, 255, 255, 0.2);
  z-index: 1000;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.navbar-brand {
  color: var(--bs-gray-100);
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-btn {
  color: var(--bs-gray-100);
  border:  var(--bs-purple-700) 2px solid;
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: border 0.3s;
}
.navbar-btn:hover {
  border:  var(--bs-purple-100) 2px solid;
  color: var(--bs-gray-100);
}

.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

#header-name {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 4rem;
  box-sizing: border-box;
}
.container-fluid {
  margin: 10px auto;
  padding: 0 50px;
}

.container {
  
  margin: 0 auto;
  padding: 0 2rem;
}


.grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  perspective: 1000px;
}

#header-content {
  text-align: center;
  z-index: 2;
  max-width: 1000px;
  padding: 0 2rem;
}

.static-card {
  background: var(--bs-purple-900);
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

#static-title {
  font-size: 3 rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

#static-subtitle {
  font-size: 1.3 rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.social-btn {
  background: var(--bs-purple);
  border: 2px solid transparent;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}


.section {
  margin:0;
  padding: 8rem 0;
  position: relative;
}

.section-title {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 3rem;

}

.card {
  border: 2px solid var(--bs-purple);
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 3rem;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}
.card-title{
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-style: italic;
  margin-bottom: 1.5rem;
}

.card-body{
  line-height: 1.8;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

